.App {
  text-align: center;
  background-color: #2E142D;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.App-header {
  background-color: #2E142D;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 45px;
}

/* .WelcomePage{
  
} */

h1{
  color: #F9D0BE;
}

h3{
  color: 	#F47C4B;
}

p, li {
  text-align: center;
  color: #FEB099;
}

input {
  width: 150px;
  height: 33px;
  border-radius: 5px;
  background-color: #F9D0BE; 
  color: #2E142D; 
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

button{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(75, 43, 74);
  color:#F9D0BE; 
  font-size: 18px;
  text-align: center;
  margin-left: 10px;
}

img{
  height: 300px;
}